<!DOCTYPE html>
<html>
<head>
    <title>RPS with VueJS</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
  <section class="row">
    <div class="small-6 columns">
      <h1 class="text-center">PLAYER</h1>
      <div class="wins">
        <div class="wins text-center" style="background-color: green; margin: 0; color: white;":style="{width: playerWins + '0%'}">
            {{playerWins}}
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <h1 class="text-center">COMPUTER</h1>
      <div class="wins">
        <div class="wins text-center" style="background-color: green; margin: 0; color: white;" :style="{width: computerWins + '0%'}">
            {{computerWins}}
        </div>
      </div>
    </div>
  </section>

  <!--START GAME-->
  <section class="row controls" v-if="show">
    <div class="small-12 columns">
      <button id="start-game"  @click="show = !show" @click="startGame">START NEW GAME</button>
    </div>
  </section>

  <!--ROCK PAPER SCISSORS Buttons-->
  <section v-show="!show" class="row controls">
    <div class="small-12 columns">
      <button id="rock" @click="userRock">ROCK</button>
      <button id="paper" @click="userPaper">PAPER</button>
      <button id="scissors" @click="userScissors">SCISSORS</button>

      <!--RESTART button-->
      <button id="restart" @click="startGame">RESTART</button>
    </div>
  </section>
  <section class="row log">
    <div class="small-12 columns">
      <ul>
        <li v-for="turn in turns"
        :class="{'player-turn': turn.isPlayer, 'computer-turn': !turn.isPlayer, 'tie-turn':turn.tie}">
          {{turn.text}}
        </li>
      </ul>
    </div>
  </section>
</div>
<script src="app.js"></script>
</body>
</html>